@model allpax_sale_miner.Models.tbl_customer_event

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_customer_event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customerCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eventID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eventType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
