@model IEnumerable<allpax_sale_miner.ViewModels.machinesW_kitsAvlbl_BnotInstalled>

@{
    ViewBag.Title = "Index";
}
    <h3>@ViewBag.Message</h3>

    <h2>Customer Sales Opportunities-</h2>

<table class="table">
    <tr>
        <th>
            Job Number
        </th>
        <th>
            Customer Code
        </th>
        <th>
            Equipment Type
        </th>
        <th>
            Model
        </th>
        <th>
            Machine ID
        </th>
        <th>
            Kit ID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.jobNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.customerCode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.eqpmtType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.model)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.machineID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.kitsAvlbl_kitID)
    </td>
</tr>
}

</table>
