@model IEnumerable<allpax_sale_miner.ViewModels.machinesW_kitsAvlbl_BnotInstalled>

@{
    ViewBag.Title = "Index";
}
    <hr />
    <h2 style="text-align:center">@ViewBag.name (@ViewBag.customerCode)</h2>
    <h3 style="text-align:center">@ViewBag.address, @ViewBag.city, @ViewBag.state</h3>
    <h4 style="text-align:center">Sales Opportunities</h4>
    <hr />

<table class="table">
    <tr>
        <th>
            Job Number
        </th>
        <th>
            Customer Code
        </th>
        <th>
            Equipment Type
        </th>
        <th>
            Model
        </th>
        <th>
            Machine ID
        </th>
        <th>
            Kit ID
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.jobNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.customerCode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.eqpmtType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.model)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.machineID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.kitsAvlbl_kitID)
    </td>
</tr>
}

</table>
