@model IEnumerable<allpax_sale_miner.Models.tbl_customer_eqpmt>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        $(document).ready(function () {//begin document read jquery statements

            //$('#datatable_customer_eqpmt thead tr').clone(true).appendTo( '#datatable_customer_eqpmt thead' );
            //$('#datatable_customer_eqpmt thead tr:eq(1) th').each( function (i) {
            //    var title = $(this).text();
            //    $(this).html( '<input type="text" placeholder=" " />' );

            //    $( 'input', this ).on( 'keyup change', function () {
            //        if ( table.column(i).search() !== this.value ) {
            //            table
            //                .column(i)
            //                   .search( this.value )
            //                    .draw();
            //        }
            //    } );
            //} );

            var table = $('#datatable_customer_eqpmt').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                paging: false,
                order: [[1, "asc"]],
                searching: false
            });

            $('.dataTables_length').addClass('bs-select');
            //begin when a record class is clicked...
            $(".record").on('click keyup change', function () {
                selectedItem0 = $(this).attr("id");//works
                selectedItem1 = $(this).find("#record_item1").html();//works valid for inner html only
                selectedItem2 = $(this).find("#record_item2").html();//works valid for inner html only
                selectedItem3 = $(this).find("#record_item3").html();//works valid for inner html only
                selectedItem4 = $(this).find("#record_item4").html();//works valid for inner html only



                $("#slctd_id").val(selectedItem0);
                $("#slctd_customerCode").val(selectedItem1);
                $("#slctd_machineID").val(selectedItem2);
                $("#slctd_jobNum").val(selectedItem3);
                $("#slctd_eqpmtType").val(selectedItem4);

            });
            //end when a record class is clicked...

            $(".btn.btn-primary.editButton").click(function () {//when a record's edit button is clicked...
                $(this).parent().find(".editButton").hide();
                $(this).parent().find(".updateButton").show();
                $(this).parent().find(".deleteButton").hide();
                $(this).parent().find(".cancelButton").show();

                $(this).parent().parent().css("background-color", "powderblue");//change bkgnd color
                $(this).parent().parent().attr("contenteditable", "true");//set all <td> in the record to editable
                $(this).parent().parent().find("#record_item0").attr("contenteditable", "false");//set the id <td> to not editable
                $(this).parent().parent().find(".cancelButton").css("background-color", "indianred");//change cancel buttn clr after edit is clicked
                $(this).parent().parent().find(".cancelButton").css("border", "indianred");//change cancel buttn clr after edit is clicked
                $(this).parent().parent().find(".updateButton").css("background-color", "steelblue");//change cancel buttn clr after edit is clicked
                $(this).parent().parent().find(".updateButton").css("border", "steelblue");//change cancel buttn clr after edit is clicked

            });
            $(".btn.btn-primary.cancelButton").click(function () {//when a record's edit button is clicked...
                $(this).parent().find(".editButton").show();
                $(this).parent().find(".updateButton").hide();
                $(this).parent().find(".deleteButton").show();
                $(this).parent().find(".cancelButton").hide();
                $(this).parent().find(".confirmButton").hide();

                $(this).parent().parent().css("background-color", "transparent");
                $(this).parent().parent().attr("contenteditable", "false");
            });
            $(".btn.btn-primary.deleteButton").click(function () {//when a record's edit button is clicked...
                $(this).parent().find(".editButton").hide();
                $(this).parent().find(".updateButton").hide();
                $(this).parent().find(".deleteButton").hide();
                $(this).parent().find(".cancelButton").show();
                $(this).parent().find(".confirmButton").show();

                $(this).parent().parent().css("background-color", "powderblue");//change bkgnd color
                $(this).parent().parent().attr("contenteditable", "false");
                $(this).parent().parent().find(".cancelButton").css("background-color", "indianred");//change cancel buttn clr after delete is clicked
                $(this).parent().parent().find(".cancelButton").css("border", "indianred");//change cancel buttn clr after edit is clicked
                $(this).parent().parent().find(".confirmButton").css("background-color", "steelblue");//change confirm buttn color after delete is clicked
                $(this).parent().parent().find(".confirmButton").css("border", "steelblue");
            });

            //begin #addButton
            $("#addButton").click(function () {//when the add button is clicked...
                var addItem1 = $("#addRecordItem1").val();
                var addItem2 = $("#addRecordItem2").val();
                var addItem3 = $("#addRecordItem3").val();
                var addItem4 = $("#addRecordItem4").val();

                alert(
                    "Selected for Add POST:" + '\n' +
                    "addItem1: " + addItem1 + '\n' +
                    "addItem2: " + addItem2 + '\n' +
                    "addItem3: " + addItem3 + '\n' +
                    "addItem4: " + addItem4 + '\n'


                );
                $("#addRecordItem1").val('');
                $("#addRecordItem2").val('');
                $("#addRecordItem3").val('');
                $("#addRecordItem4").val('');
                //begin axios add post

                axios.post('/CustomerEqpmtMgmt/AddCustEqpmt', {
                    customerCode: addItem1,
                    machineID: addItem2,
                    jobNum: addItem3,
                    eqpmtType: addItem4
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

                //end axios add post
            });
            //end #addButton

            //begin confirm edit record
            $(".btn.btn-primary.updateButton").click(function () {//when a record's edit button is clicked...
                $(this).hide();
                $(this).parent().find(".updateButton").hide();
                $(this).parent().find(".editButton").show();
                $(this).parent().find(".deleteButton").hide();
                $(this).parent().find(".cancelButton").show();

                $(this).parent().parent().attr("contenteditable", "false");

                $(this).parent().parent().css("background-color", "transparent");
                $(this).parent().parent().find(".cancelButton").css("background-color", "royalblue");//change cancel button color after update is clicked
                $(this).parent().find(".cancelButton").hide();
                $(this).parent().find(".deleteButton").show();

                var editItem0 = $("#slctd_id").val();
                var editItem1 = $("#slctd_customerCode").val();
                var editItem2 = $("#slctd_machineID").val();
                var editItem3 = $("#slctd_jobNum").val();
                var editItem4 = $("#slctd_eqpmtType").val();

                alert(
                    "Selected for Edit POST:" + '\n' +
                    "editItem0: " + editItem0 + '\n' +
                    "editItem1: " + editItem1 + '\n' +
                    "editItem2: " + editItem2 + '\n' +
                    "editItem3: " + editItem3 + '\n' +
                    "editItem4: " + editItem4 + '\n'
                );

                //begin axios add post
                axios.post('/CustomerEqpmtMgmt/UpdateCustEqpmt', {
                    id: editItem0,
                    customerCode: editItem1,
                    machineID: editItem2,
                    jobNum: editItem3,
                    eqpmtType: editItem4
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                //end axios add post

            });
            //end confirm edit record

            //begin axios confirm delete record
            $(".btn.btn-primary.confirmButton").click(function () {//when a record's delete button is clicked...

                alert(
                    "Selected for DELETE:" + '\n' +
                    "id: " + selectedItem0 + '\n' +
                    "customerCode: " + selectedItem1 + '\n' +
                    "machineID: " + selectedItem2 + '\n' +
                    "Job Num: " + selectedItem3 + '\n' +
                    "Equipment Type: " + selectedItem4 + '\n'
                );

                axios.post('/CustomerEqpmtMgmt/DeleteCustEqpmt', {
                    id: selectedItem0,
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            });
            //end axios confirm delete record

        });//end document read jquery statements
    </script>
</head>

<div class="container-fluid"> <hr />  
    <!--begin inline add-->
    <div class="row">
        <div class="col-md-12">
            <h5>Customer Equipment Management</h5>
            <form class="form-inline">
                <div class="form-group">
                    @*<label for="addRecordItem1">Customer Code</label>*@
                    @Html.DropDownList("customerCode", null, "Select Customer Code", new { @id = "addRecordItem1", @name = "addRecordItem1", @class = "form-control form-control-sm" })
                </div>
                <div class="form-group">
                    @*<label for="addRecordItem2">Machine ID</label>*@
                    <input type="text" class="form-control form-control-sm" id="addRecordItem2" placeholder="Machine ID" value="">
                </div>
                <div class="form-group">
                    @*<label for="addRecordItem3">Job Number</label>*@
                    <input type="text" class="form-control form-control-sm" id="addRecordItem3" placeholder="Job Number" value="">
                </div>
                <div class="form-group">
                    @*<label for="addRecordItem3">Equipment Type</label>*@
                    @Html.DropDownList("eqpmtType", null, "Select Equipment Type", new { @id = "addRecordItem4", @name = "addRecordItem4", @class = "form-control form-control-sm" })
                </div>
                <button type="submit" class="btn btn-primary btn-sm" id="addButton" style="background-color: royalblue">Add</button>
            </form><hr />
        </div>
    </div>
</div>
    <!--click event begin-->
    <div>
        <div class="row" style="display:none">
            <div class="col-md-1">ID: <input type="text" id="slctd_id" value="slctd_id"></div>
            <div class="col-md-2">Customer Code: <input type="text" id="slctd_customerCode" value="slctd_CustomerCode"></div>
            <div class="col-md-2">Machine ID: <input type="text" id="slctd_machineID" value="slctd_machineID"></div>
            <div class="col-md-2">Job Number: <input type="text" id="slctd_jobNum" value="slctd_jobNum"></div>
            <div class="col-md-2">Equipment Type: <input type="text" id="slctd_eqpmtType" value="slctd_eqpmtType"></div>
        </div>
    </div>
    <!--click event end-->
    <!--table begin-->
<div class="container-fluid">
    <div class="col-md-12" style="border:none">
        <table id="datatable_customer_eqpmt" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="th-sm">
                        ID
                    </th>
                    <th class="th-sm">
                        Customer Code
                    </th>
                    <th class="th-sm">
                        Machine ID
                    </th>
                    <th class="th-sm">
                        Job Number
                    </th>
                    <th class="th-sm">
                        Equipment Type
                    </th>
                    <th class="th-sm">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="record" id=@Html.DisplayFor(modelItem => item.id)>
                        <td id="record_item0" value=@Html.DisplayFor(modelItem => item.id)>@Html.DisplayFor(modelItem => item.id)</td>
                        <td id="record_item1" value=@Html.DisplayFor(modelItem => item.customerCode)>@Html.DisplayFor(modelItem => item.customerCode)</td>
                        <td id="record_item2" value=@Html.DisplayFor(modelItem => item.machineID)>@Html.DisplayFor(modelItem => item.machineID)</td>
                        <td id="record_item3" value=@Html.DisplayFor(modelItem => item.jobNum)>@Html.DisplayFor(modelItem => item.jobNum)</td>
                        <td id="record_item4" value=@Html.DisplayFor(modelItem => item.eqpmtType)>@Html.DisplayFor(modelItem => item.eqpmtType)</td>
                        <td>
                            <button class="btn btn-primary btn-sm editButton" style=" background-color: royalblue">Edit</button>
                            <button class="btn btn-primary btn-sm updateButton" style="display:none;">Update</button>
                            <button class="btn btn-primary btn-sm deleteButton" style=" background-color: royalblue">Delete</button>
                            <button class="btn btn-primary btn-sm confirmButton" style="display:none;">Confirm</button>
                            <button class="btn btn-primary btn-sm cancelButton" style="display:none;">Cancel</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!--table end-->
    </div>
</div>
