@model allpax_sale_miner.Models.tbl_eqpmt_kits_current

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_eqpmt_kits_current</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.machineID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.machineID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kitID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kitID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
