@model List<allpax_sale_miner.ViewModels.vm_SalesCustomer>

@*@model IEnumerable<allpax_sale_miner.ViewModels.vm_SalesCustomer>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}
<h3>@ViewBag.Message</h3>

<h2>Customer Sales Opportunities-</h2>

<table class="table">
    <tr>
        <th>
            Job Number
        </th>
        <th>
            Customer Code
        </th>
        <th>
            Model
        </th>
        <th>
            Machine ID
        </th>
        <th>
            Number of Current Kits
        </th>
        <th>
            Current Kits
        </th>
        <th>
            Number of Available Kits
        </th>
        <th>
            Available Kits
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.jobNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.customerCode)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.model)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.machineID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.kitsCurrent.Count)
    </td>
    <td>
        @for (var i = 0; i < (item.kitsCurrent.Count); i++)
        {@*<p>Line @i</p>*@
        @Html.DisplayFor(modelItem => item.kitsCurrent[@i])<br />
    }
    </td>
    <td>
        future
    </td>
    <td>
        future
    </td>

</tr>
    }

</table>






